<!DOCTYPE html>
<html>
<head>
  <title>MessageBoard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
  body {
    font-family: Gulim;
    background-color: Ivory;
  }
</style>
<body>
  <nav class="navbar">
    <div class="container">
      <% if notice %>
      <duv class="alert alert-info">
        <%= notice %>
        </div>
        <% end %>
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color:brown"><h1>Message Board</h1></a>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
